<?xml version="1.0" encoding="UTF-8"?>

<!--
https://logback.qos.ch/manual/configuration.html
https://logback.qos.ch/manual/appenders.html
-->

<configuration scan="false" scanPeriod="30 seconds">

    <!-- gestion del API por JMX -->
    <!--
    <jmxConfigurator />
    -->

    <!-- way for shutting down logback and releasing associated resources -->
    <shutdownHook />

    <!-- cualquier cambio de configuración que se produzca se muestre en consola -->
    <!--
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />
    -->

    <!--
    <property scope="context" name="nodeId" value="1" />
    -->

    <!--
    <property name="LOG_PATH" value="./logs" />
    -->
    <!-- Escribe los logs en ProgramData/INETUM/EGATE/logs -->
    <property name="LOG_PATH" value="${ALLUSERSPROFILE}/INETUM/EGATE/logs" />

    <property name="LOG_FILE_NAME" value="abc-server" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!--
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
        -->
        <encoder class="com.inetum.abc.server.utils.log.CipheredPatternLayoutEncoder">
            <encode>false</encode>
            <key>1234567890</key>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%-12X{ID}] %-60logger{60} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>
            ${LOG_PATH}/${LO_FILE_NAME}.log
        </file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%-12X{ID}] %-60logger{60} - %msg%n</pattern>
        </encoder>
    </appender>
    -->

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <prudent>false</prudent>

        <file>
            ${LOG_PATH}/${LOG_FILE_NAME}.log
        </file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>
                ${LOG_PATH}/${LOG_FILE_NAME}_%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <!-- each file should be at most 20MB, keep 7 days worth of history, but at most 200MB -->
            <maxFileSize>20MB</maxFileSize>
            <maxHistory>7</maxHistory>
            <totalSizeCap>200MB</totalSizeCap> <!-- The totalSizeCap property requires maxHistory property -->
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <!--
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
        -->
        <encoder class="com.inetum.abc.server.utils.log.CipheredPatternLayoutEncoder">
            <encode>false</encode>
            <key>1234567890</key>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%-12X{ID}] %-60logger{60} - %msg%n</pattern>
        </encoder>
    </appender>


    <!-- DBC classes -->
    <logger name="java.sql.Connection"          level="DEBUG" />
    <logger name="java.sql.Statement"           level="DEBUG" />
    <logger name="java.sql.PreparedStatement"   level="DEBUG" />
    <logger name="java.sql.ResultSet"           level="DEBUG" />

    <!-- APP classes -->
    <logger name="org.apache.kafka"         level="ERROR" />
    <logger name="org.eclipse.jetty"        level="ERROR" />
    <logger name="org.glassfish.jersey"     level="ERROR" />
    <logger name="net.sf.joyaop"            level="ERROR" />
    <logger name="com.zaxxer.hikari"        level="ERROR" />
    <logger name="com.workflow"             level="ERROR" />
    <logger name="org.quartz"               level="INFO" />
    <logger name="com.inetum.context"       level="INFO" />
    <logger name="com.inetum.microservice"  level="INFO" />
    <logger name="com.inetum.abc"           level="DEBUG" />


    <!-- Root -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>

</configuration>

